body {
    font-family: 'Arial', sans-serif;
  /*  background-image: url('stock3.jpg');*/
     background-image: url('stock6.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}


.taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color:black; 
    padding: 20px; 
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
}

.section1 {
     flex: 1;
    /* padding-left: 200px; */
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-image: url('logo.png');
    background-size: contain; 
}

.section2 {
    flex: 1; 
    text-align: center; 
    /* font-size: x-large; */
    height: 200px;
    width: 500px;
}
.section2 h1
{
    text-align: left;
    font-size: 70px;
    font-style: italic;
    color: azure;
    /* height: 200px; */
}

.section3 {
    flex: 1; 
    text-align: right; 
    /* position: fixed; */
    right: 0%;
}

.section3 a {
    margin-left: 15px; 
    margin-right:40px ;
    font-size: x-large;
    text-decoration: none;
    color: white;
}





.container {
    width: 600px; 
    margin: 0 auto; 
    background-color:rgba(0, 0, 0, 0.4);
    height: 1100px;
    top:130px;
    position: absolute;
    right: 0%;
    text-align: center;
}

.container p
{
    color:aqua;
    font-size: xx-large;
    font-weight: 400;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-check label,
.form-group label {
    color:blanchedalmond; 
    font-size:x-large;
    margin-bottom: 100px;

}

.form-check-input {
    margin-right: 10px; 
}

.form-group {
    margin-bottom: 100px; 
}

#timeRangeFields,
#preciseDateFields1,
#preciseDateFields2 {
    margin-bottom: 50px; 
}
#preciseDateFields1 {
    margin-top: 50px; 
}

select,
.input {
    background-color: #333; 
    font-size: large;
    color: white; 
    border: 1px solid #555; 
    padding: 8px; 
    width: 80%; 
}

.form-check,
.form-group {
    display: block; 
}


.btn.btn-primary {
    background-color: #4CAF50;
    border-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer; 
}

/* Hover effect */
.btn.btn-primary:hover {
    background-color: #45a049; 
    border-color: #45a049; 
}


input[type="date"] {
    background-color: #333; 
    color: white; 
    border: 1px solid #555; 
    padding: 8px; 
    border-radius: 4px; 
    height: 20px;
    width:140px;
}


#plotlyGraph {
    
    position: fixed;
    top: 180px; 
    left: 0%; 
    width: 74%; 
    height: 50px; 
}
