<!-- home_page.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylehome.css') }}">
    <!-- Include Bootstrap CSS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="taskbar">
        <div class="section1">
            <!-- <img src="logo.png"> -->
        </div>
        <div class="section2">
            <h1>TradeHUB</h1>
        </div>
        <div class="section3">
            <a href="{{ url_for('dashboard') }}">Home</a>
            <a href="{{url_for('home_page')}}">Graph_Analysis</a>
            <a href="{{ url_for('filter') }}">Filter</a> 
            <a href="{{ url_for('buysell') }}">Buy/Sell</a> 
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
    <div class="container mt-5">
        <!-- <h1>Welcome to Your Home Page</h1> -->
        <p>Explore and manage your tasks.</p>

        <!-- Form for Start Date, End Date, and Company Code -->
        <form action="{{ url_for('process_dates') }}" method="post">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="timeRangeCheckbox" name="enter_time_range">
                <label class="form-check-label" for="timeRangeCheckbox">Enter Time Range</label>
            </div>
    
            <!-- Fields for precise date -->
            <div class="form-group" id="preciseDateFields1">
                <label for="start_date">Start Date:</label>
                <input type="date" class="form-control" id="start_date" name="start_date">
            </div>
            <div class="form-group" id="preciseDateFields2">
                <label for="end_date">End Date:</label>
                <input type="date" class="form-control" id="end_date" name="end_date">
            </div>
    
            <!-- Fields for time range -->
            <div class="form-group" id="timeRangeFields" style="display: none;">
                <label for="time_range">Select Time Range:</label>
                <select name="time_range" id="time_range" class="form-control">
                    <option value="weekly">Last week</option>
                    <option value="monthly">Last Month</option>
                    <option value="yearly">Last Year</option>
                    <option value="yearly3">Last 3 Years</option>
                    <option value="yearly10">Last 10 Years</option>
                </select>
            </div>

            <div class="form-group">
                <label for="company_codes">Select Companies:</label>
                <select multiple class="form-control" id="company_codes" name="company_codes[]" required>

                    <option value="ADANIENT.NS">ADANIENT</option>
                    <option value="ADANIPORTS.NS">ADANIPORTS</option>
                    <option value="APOLLOHOSP.NS">APOLLOHOSP</option>
                    <option value="ASIANPAINT.NS">ASIANPAINT</option>
                    <option value="AXISBANK.NS">AXISBANK</option>
                    <option value="BAJAJ-AUTO.NS">BAJAJ-AUTO</option>
                    <option value="BAJFINANCE.NS">BAJFINANCE</option>
                    <option value="BAJAJFINSV.NS">BAJAJFINSV</option>
                    <option value="BPCL.NS">BPCL</option>
                    <option value="BHARTIARTL.NS">BHARTIARTL</option>
                    <option value="BRITANNIA.NS">BRITANNIA</option>
                    <option value="CIPLA.NS">CIPLA</option>
                    <option value="COALINDIA.NS">COALINDIA</option>
                    <option value="DIVISLAB.NS">DIVISLAB</option>
                    <option value="DRREDDY.NS">DRREDDY</option>
                    <option value="EICHERMOT.NS">EICHERMOT</option>
                    <option value="GRASIM.NS">GRASIM</option>
                    <option value="HCLTECH.NS">HCLTECH</option>
                    <option value="HDFCBANK.NS">HDFCBANK</option>
                    <option value="HDFCLIFE.NS">HDFCLIFE</option>
                    <option value="HEROMOTOCO.NS">HEROMOTOCO</option>
                    <option value="HINDALCO.NS">HINDALCO</option>
                    <option value="HINDUNILVR.NS">HINDUNILVR</option>
                    <option value="ICICIBANK.NS">ICICIBANK</option>
                    <option value="ITC.NS">ITC</option>
                    <option value="INDUSINDBK.NS">INDUSINDBK</option>
                    <option value="INFY.NS">INFY</option>
                    <option value="JSWSTEEL.NS">JSWSTEEL</option>
                    <option value="KOTAKBANK.NS">KOTAKBANK</option>
                    <option value="LTIM.NS">LTIM</option>
                    <option value="LT.NS">LT</option>
                    <option value="MARUTI.NS">MARUTI</option>
                    <option value="NTPC.NS">NTPC</option>
                    <option value="NESTLEIND.NS">NESTLEIND</option>
                    <option value="ONGC.NS">ONGC</option>
                    <option value="POWERGRID.NS">POWERGRID</option>
                    <option value="RELIANCE.NS">RELIANCE</option>
                    <option value="SBILIFE.NS">SBILIFE</option>
                    <option value="SBIN.NS">SBIN</option>
                    <option value="SUNPHARMA.NS">SUNPHARMA</option>
                    <option value="TCS.NS">TCS</option>
                    <option value="TATACONSUM.NS">TATACONSUM</option>
                    <option value="TATAMOTORS.NS">TATAMOTORS</option>
                    <option value="TATASTEEL.NS">TATASTEEL</option>
                    <option value="TECHM.NS">TECHM</option>
                    <option value="TITAN.NS">TITAN</option>
                    <option value="UPL.NS">UPL</option>
                    <option value="ULTRACEMCO.NS">ULTRACEMCO</option>
                    <option value="WIPRO.NS">WIPRO</option>

                </select>
            </div>
            
            <div class="form-group">
                <label for="stock_type">Stock Type:</label>
                <select class="form-control" id="stock_type" name="stock_type" required>
                    <option value="Open">Open Price</option>
                    <option value="High">High Price</option>
                    <option value="Low">Low Price</option>
                    <option value="Close">Close Price</option>
                    <option value="Adj Close">Adjusted Close Price</option>
                    <option value="Volume">Volume</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- <div id="plotlyGraph">
            {% if plot_div %}
                {{ plot_div|safe }}
            {% endif %}
        </div> -->
    </div>
    <div id="plotlyGraph">
        {% if plot_div %}
            {{ plot_div|safe }}
        {% endif %}
    </div>
    <!-- Include Bootstrap JS and Popper.js -->
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    
     <script>
        const timeRangeCheckbox = document.getElementById('timeRangeCheckbox');
        const preciseDateFields1 = document.getElementById('preciseDateFields1');
        const preciseDateFields2 = document.getElementById('preciseDateFields2');
        const timeRangeFields = document.getElementById('timeRangeFields');
        const startDateInput = document.getElementById('start_date');
        const endDateInput = document.getElementById('end_date');
        const timeRangeSelect = document.getElementById('time_range');

        timeRangeCheckbox.addEventListener('change', function () {
            if (timeRangeCheckbox.checked) {
                preciseDateFields1.style.display = 'none';
                preciseDateFields2.style.display = 'none';
                timeRangeFields.style.display = 'block';
                startDateInput.value = ''; // Clear the value when hiding
                endDateInput.value = '';   // Clear the value when hiding
            } else {
                preciseDateFields1.style.display = 'block';
                preciseDateFields2.style.display = 'block';
                timeRangeFields.style.display = 'none';
                timeRangeSelect.value = ''; // Clear the value when hiding
            }
        });

        // Initial setup based on checkbox state
        if (timeRangeCheckbox.checked) {
            preciseDateFields1.style.display = 'none';
            preciseDateFields2.style.display = 'none';
            timeRangeFields.style.display = 'block';
            startDateInput.value = ''; // Clear the value when hiding
            endDateInput.value = '';   // Clear the value when hiding
        } else {
            preciseDateFields1.style.display = 'block';
            preciseDateFields2.style.display = 'block';
            timeRangeFields.style.display = 'none';
            timeRangeSelect.value = ''; // Clear the value when hiding
        }
    </script>
</body>
</html>
